<!DOCTYPE html>
<html>
  <head>
    <title>Estudantes</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo">Avaliações UNB</a>
      <div class="header-right">
        <% if (user) { %>
        <a href="/disciplinas">Disciplina</a>
        <a href="/estudantes">Estudante</a>
        <a href="/departamentos">Departamento</a>
        <a href="/logout">Logout</a>
        <% } else { %>
        <button class="login-button" onclick="openLoginPopup()">Login</button>
        <% } %>
      </div>    
    </div>

    <!-- Image studant na esquerda da pagina -->
    <div class="container">
      <div class="img">
        <img src="assets/home/aluno.png" alt="Studant" />
      </div>
      <div class="text">
        <h1>Seja bem vindo ao sistema de avaliações da UnB</h1>
        <p>
          Aqui você pode avaliar as disciplinas que você cursou e ver as
          avaliações de outras disciplinas.
        </p>
      </div>
    </div>

    <!-- Login pop-up -->
    <div id="loginPopup" class="login-popup">
      <div class="login-popup-content">
        <span class="close" onclick="closeLoginPopup()">&times;</span>
        <!-- Add your login form here -->
        <h2>Login</h2>
        <form class="login-form" method="POST" action="/login">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            required
          /><br /><br />
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          /><br /><br />
          <input type="submit" value="Login" />
          <button onclick="openRegisterPopup()">Register</button>
        </form>
      </div>
    </div>

    <!-- Register pop-up -->
    <div id="registerPopup" class="login-popup">
      <div class="login-popup-content">
        <span class="close" onclick="closeRegisterPopup()">&times;</span>
        <!-- Add your registration form here -->
        <h2>Register</h2>
        <form class="register-form" method="POST" action="/estudantes">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required /><br /><br />
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required /><br /><br />
          <label for="matricula">Matricula:</label>
          <input
            type="text"
            id="matricula"
            name="matricula"
            required
          /><br /><br />
          <label for="curso">Curso:</label>
          <input type="text" id="curso" name="curso" required /><br /><br />
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          /><br /><br />
          <input type="submit" value="Register" />
        </form>
      </div>
    </div>
    <script>
      // Function to open the login pop-up
      function openLoginPopup() {
        document.getElementById("loginPopup").style.display = "block";
      }

      // Function to close the login pop-up
      function closeLoginPopup() {
        document.getElementById("loginPopup").style.display = "none";
      }

      // Function to open the register pop-up
      function openRegisterPopup() {
        document.getElementById("registerPopup").style.display = "block";
      }

      // Function to close the register pop-up
      function closeRegisterPopup() {
        document.getElementById("registerPopup").style.display = "none";
      }
    </script>
  </body>
</html>
