<!-- estudantes.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Estudantes</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo">Avaliações UNB</a>
      <div class="header-right">
        <a href="/disciplinas">Disciplina</a>
        <a href="/estudantes">Estudante</a>
        <a href="/departamentos">Departamento</a>
      </div>
    </div>
    <!-- Image studant na esquerda da pagina -->
    <div class="container">
      <div class="img">
        <img src="assets/home/aluno.png" alt="Studant" />
      </div>
      <div class="text">
        <h1>Seja bem vindo ao sistema de avaliações da UnB</h1>
        <p>
          Aqui você pode avaliar as disciplinas que você cursou e ver as
          avaliações de outras disciplinas.
        </p>
      </div>
    </div>
  </body>
</html>
