body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #5d3a9b;
}

button {
  background-color: #5d3a9b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button[type="submit"] {
  background-color: #5d3a9b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

form button[type="submit"]:hover {
  background-color: #3e2674;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  line-height: 1.6;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.conteiner {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form-container {
  flex-grow: 1;
  margin-right: 20px; /* adiciona algum espaço entre o formulário e a tabela */
}

.table-container {
  width: 50%; /* ou o valor que quiser, isso determinará a largura da tabela */
}
table {
  border-collapse: collapse; /* combina as bordas para uma linha única */
  border: 1px solid black; /* adiciona uma borda preta ao redor da tabela */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15); /* opcional: adiciona uma sombra para dar um efeito 3D */
  margin-left: 20px; /* adiciona algum espaço entre a tabela e os formulários */
}
.form-container {
  height: 100%;
}

form {
  height: fit-content;
  
}
  